<h1 >New Game</h1>
<ul class="list-group-horizontal d-inline-flex p-0">
  <%@game_words.each do |word|%>
   <li class="list-group-item active mx-2 "><%= word.capitalize %></li>
   <% end %>
</ul>
<form action="/score" method="post" data-turbo="false"> <%# #specified "get" as method comes by default %>
  <input type="text" name="attempt">
  <input type="submit" value="Ask!" class = "btn btn-primary">
   <%= hidden_field_tag :game_words, @game_words %>
   <%= hidden_field_tag :authenticity_token, form_authenticity_token %>
</form>
